* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.buttons-parent {
    width: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid purple;
    border-radius: 10px;
}



.button-active {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    width: auto;
    margin-right: 15px;
}

.button-active:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

/* the below :active is pseudo attribute like
hover, focus and others */

.button-active:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

/* the below active class will be added to 
the html file dynamically in javascript file.
Basically the below active class is
main to show the button active  */

.active,
.button-active:hover {
    background-color: red;
    color: white;
}